/* Reset default margin and padding for better consistency */
body, h1, h2, h3, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 60px 0;
    background-color: #2c3e50; /* Dark blue color for header background */
    color: #ecf0f1; /* Light gray text color */
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-text {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.pro-text {
    font-size: 1.2rem;
}

/* Entrepreneurial Ventures Section */
.entrepreneurial-ventures {
    padding: 40px 0;
    background-color: #3498db; /* Blue color for the section background */
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container a img {
    max-width: 100px;
    border-radius: 10px;
    margin: 10px;
}

/* About Me Section */
.middle-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ecf0f1; /* Light gray color for the section background */
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    max-width: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.profile-content {
    flex-grow: 1;
}

/* Additional Information */
.middle-container p {
    margin-bottom: 15px;
}

/* Education and Work Experience Section */
.middle-container h2 {
    margin-top: 20px;
}

/* Skills Section */
.middle-container table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.middle-container table, th, td {
    border: 1px solid #bdc3c7;
}

.middle-container th, td {
    padding: 10px;
}

/* Hobbies and Contact Links */
.middle-container hr, .middle-container a {
    display: block;
    margin-top: 20px;
}

/* Contact Me Section */
.contact-me {
    text-align: center;
    background-color: #3498db; /* Blue color for the section background */
    padding: 40px 0;
}

.contact-me h2, .contact-me h3, .contact-me p {
    color: #ecf0f1; /* Light gray text color */
}

.btn {
    background-color: #2ecc71; /* Green color for the button */
    color: #ecf0f1; /* Light gray text color */
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50; /* Dark blue color for the footer background */
    color: #ecf0f1; /* Light gray text color */
}

.footer-link {
    margin: 0 10px;
    color: #ecf0f1; /* Light gray text color */
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Copyright Text */
.copyright {
    font-size: 0.7rem;
    font-family: Arial, sans-serif;
}
