* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #28313B, #485461);
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #1F2C39;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #f9a825;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f9a825;
}

section {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #37474F;
    border-radius: 10px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f9a825;
}

.photo-section {
    text-align: center;
    margin-bottom: 40px;
}

.photo-section img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    display: inline-block;
    background-color: #546E7A;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px;
    font-size: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background-color: #263238;
    padding: 20px;
    border-radius: 10px;
}

.project-card h3 {
    color: #f9a825;
    font-size: 1.5rem;
}

.logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-section img {
    width: 100px;
    height: auto;
    margin: 10px;
    transition: transform 0.3s;
}

.logo-section img:hover {
    transform: scale(1.1);
}

.cv-button, .social-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f9a825;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.3s;
}

.cv-button:hover, .social-button:hover {
    background-color: #ffca28;
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #f9a825;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ffca28;
}

.social-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1F2C39;
    margin-top: 30px;
}
